.auth-wrapper {
    a {
        @apply underline text-blue-600;
    }

    @apply m-auto grid w-1/4 h-max bg-white p-4 rounded-lg gap-y-2;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        @apply w-full;
        height: 40px;
    }


}
