.todo-row {
    @apply flex h-max items-center my-2;
}

.pagination {
    @apply flex w-min m-auto;

    .page {
        @apply px-2 py-1 bg-gray-300 border  border-gray-400 text-blue-500 cursor-pointer;
    }

    :first-child.page {
        @apply rounded-l-md;
    }
    :last-child.page {
        @apply rounded-r-md;
    }
}

.tab,
.tab-active {
    @apply w-40 cursor-pointer bg-white p-2;
    clip-path: polygon(0% 99%, 0% 0%, 91% 1%, 99% 99%);
}

.tab-active {
    @apply text-blue-500 border-b-2 border-blue-500;
}
