.app-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(218, 210, 210);
}

input {
    @apply rounded-md py-4 px-3 text-sm border border-gray-400;
}

input:focus {
    @apply outline-sky-500;
}

input {
    &.warning {
        @apply outline-red-500 #{!important};
    }
}

button {
    @apply text-white;
    min-width: 70px;
    &.submit {
        @apply bg-sky-500 p-2 rounded-lg;
    }
    &.cancel {
        @apply bg-red-500 p-2 rounded-lg;
    }
    &.submit:hover:not(:disabled) {
        @apply bg-sky-400;
    }
    &.submit:disabled {
        @apply bg-sky-200;
    }
}
